<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>PaddleHub 风格迁移 -- livingbody</title>
</head>
<body>

<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default ">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" class="active" href="/">PaddlePaddle</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="reading_pictures">看图写诗</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="stylepro_artistic" class="active">风格迁移</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <div class="jumbotron container">
        <div class="col-md-6">
            <h2>PaddleHub 风格迁移 -- livingbody</h2>
            <p class="lead">这是个无聊的界面。
                <ins>好吧，放点自我介绍吧。 多多关注我的<a href="https://aistudio.baidu.com/aistudio/personalcenter/thirdview/89263">javaroom's
                    AI
                    STUDIO</a></ins>
            </p>
        </div>
        <div class="col-md-6"><img src="/static/images/paddlehub/logo.png"></div>
        <div class="col-md-6"><img src="/static/images/paddlehub/pp-logo.png"></div>
    </div>
    <div>
        <form class="form-horizontal" action="" enctype='multipart/form-data' method='POST'
              onclick='LimitAttach(this.form, this.form.file.value);'>
            <div class="form-group">
                <label class="col-sm-2 control-label">我的CSDN</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="mystyle" name="mystyle" placeholder="Text"
                           value="1"/>
                </div>

                <label class="col-sm-1 control-label" for="file">照片上传</label>
                <div class="col-sm-3">
                    <input type="file" id="file" name="file" class="required">
                </div>
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">开始</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% extends "bootstrap/base.html" %}
{% block content %}  {% endblock %}
{% block myjs %}  {% endblock %}
</body>
</html>

